# Visual Studio
[Dd]ebug
[Rr]elease
[Bb]in
*.exe
*.pdb
*.ilk
*.log
.vs

# Visual Studio Code
.vscode

# VS Line Ending Unifier
.leu

# Xcode
DerivedData/
xcuserdata
*.xccheckout
*.xcuserstate
*.xcscheme
# user settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Objective-C
*.hmap
*.ipa

# Windows
Thumbs.db

# macOS
*.DS_Store

# Executables
*.exe
*.app
